name: Deploy on GitHub Pages

on:
  push:
    branches:
      - master_prebuild

jobs:
  build-deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2

      - name: Setup flutter
        uses: subosito/flutter-action@v1
        with:
          channel: 'stable'

      - name: Build
        run: |
          flutter pub get
          flutter build web

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: master
          publish_dir: build/web
          allow_empty_commit: true
          cname: xn--io-po72arj.ml
